<!doctype html>
<html class="no-js" lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Norda - Minimal eCommerce HTML Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

    <!-- All CSS is here
	============================================ -->

    <link rel="stylesheet" href="/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/css/vendor/signericafat.css">
    <link rel="stylesheet" href="/css/vendor/cerebrisans.css">
    <link rel="stylesheet" href="/css/vendor/simple-line-icons.css">
    <link rel="stylesheet" href="/css/vendor/elegant.css">
    <link rel="stylesheet" href="/css/vendor/linear-icon.css">
    <link rel="stylesheet" href="/css/plugins/nice-select.css">
    <link rel="stylesheet" href="/css/plugins/easyzoom.css">
    <link rel="stylesheet" href="/css/plugins/slick.css">
    <link rel="stylesheet" href="/css/plugins/animate.css">
    <link rel="stylesheet" href="/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- Use the minified version files listed below for better performance and remove the files listed above
    <link rel="stylesheet" href="/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="/css/style.min.css"> -->

</head>

<body>
    
    <input th:if="${session.session_current_user}" type="hidden" id="userId" th:value="${session.session_current_user.getUserId()}">
    
    <header class="header-area sticky-bar bg-top section-padding-1">
        <div class="container-fluid">
            <div class="header-large-device">
                <div class="header-bottom">
                    <div class="row align-items-center">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="index"><img src="images/logo/logo.png" alt="logo"></a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8">
                            <div class="main-menu main-menu-padding-1 main-menu-lh-1">
                                <nav>
                                    <ul>
                                        <li><a href="/index">主页</a></li>
                                        <li><a href="/shop">购物</a></li>
                                        <li><a href="/release">发布</a></li>
                                        <li><a href="/my-account">个人信息</a></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                            <li>
<!--                                                <div>-->
                                                    <li style="font-size:200%" th:if="${session.session_current_user}">您好，<span th:text="${session.session_current_user.getUsername()}"></span></li>
                                                    <li style="font-size:200%" th:unless="${session.session_current_user}">您好，您尚未登录</li>
                                                    <li th:if="${session.session_current_user}">账户余额：<span th:text="${session.session_current_user.getMoneyString()}"></span></li>
<!--                                                </div>-->
                                            </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2">
                            <div class="header-action header-action-flex header-action-mrg-right">
                                <div class="same-style-2">
                                    <a href="notice"><i class="icon-envelope"></i><span class="pro-count red" id="noticenum"></span></a>
                                </div>
                                <div class="same-style-2">
                                    <a href="userlogin"><i class="icon-user"></i></a>
                                </div>
                                <div class="same-style-2 header-cart">
                                    <a href="cart">
                                        <i class="icon-basket-loaded"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
        <div class="contact-area pt-115 pb-120">
            <div class="container">
                <div class="contact-info-wrap-3 pb-85">
                    <h3>contact info</h3>
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="single-contact-info-3 text-center mb-30">
                                <i class="icon-user"></i>
                                <h4>王宇翔</h4>
                                <p>wyx18373667@buaa.edu.cn</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="single-contact-info-3 text-center mb-30">
                                <i class="icon-user"></i>
                                <h4>徐睿远</h4>
                                <p>ruiyuanxu@buaa.edu.cn</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="single-contact-info-3 text-center mb-30">
                                <i class="icon-user"></i>
                                <h4>杨新宇</h4>
                                <p>ltyxy@buaa.edu.cn</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="subscribe-area bg-gray pt-40 pb-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="section-title">
                            <h2 style="text-align: center"><a href="/admini">管理商城</a></h2>
                            <p style="text-align: center"><a href="/contact">联系我们</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- All JS is here
============================================ -->
<script src="js/noticeNum.js"></script>
<script>
    window.onload = function () {
        noticeNum();
        // alert("notice num display");
        var userId = document.getElementById("userId").value;
        if (userId == null) return;
        var urlPath = window.document.location.href;
        var docPath = window.document.location.pathname;
        var index = urlPath.indexOf(docPath);
        var serverPath = urlPath.substring(0, index);
        var formData = new FormData();
        formData.append("userid", Number(userId));
        $.ajax({
            url: serverPath + "/get-notice-num",
            type: "post",
            data: formData,
            contentType: false,
            processData: false,
            success: function (res) {
                if (res.code === 200) {
                    // sellerInfo = res.data;
                    document.getElementById("noticenum").innerHTML = res.data
                } else {
                    alert(res.msg);
                }
            },
            error: function (data) {
                alert("getseller failed");
            }
        });
        return false;
    }
</script>
    <script src="/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/js/plugins/slick.js"></script>
    <script src="/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/js/plugins/jquery.instagramfeed.min.js"></script>
    <script src="/js/plugins/jquery.nice-select.min.js"></script>
    <script src="/js/plugins/wow.js"></script>
    <script src="/js/plugins/jquery-ui-touch-punch.js"></script>
    <script src="/js/plugins/jquery-ui.js"></script>
    <script src="/js/plugins/magnific-popup.js"></script>
    <script src="/js/plugins/sticky-sidebar.js"></script>
    <script src="/js/plugins/easyzoom.js"></script>
    <script src="/js/plugins/scrollup.js"></script>
    <script src="/js/plugins/ajax-mail.js"></script>

    <!-- Use the minified version files listed below for better performance and remove the files listed above  
<script src="/js/vendor/vendor.min.js"></script>
<script src="/js/plugins/plugins.min.js"></script>  -->
    <!-- Main JS -->
    <script src="/js/main.js"></script>
    <script src="http://www.google.cn/maps/api/js?key=AIzaSyAYNfZ-tL7Q_kGLMO4Y5xz4lCl70V74AF4"></script>
</body>

</html>