<!doctype html>
<html class="no-js" lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Lumos</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">

    <!-- All CSS is here
	============================================ -->

    <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="css/vendor/signericafat.css">
    <link rel="stylesheet" href="css/vendor/cerebrisans.css">
    <link rel="stylesheet" href="css/vendor/simple-line-icons.css">
    <link rel="stylesheet" href="css/vendor/elegant.css">
    <link rel="stylesheet" href="css/vendor/linear-icon.css">
    <link rel="stylesheet" href="css/plugins/nice-select.css">
    <link rel="stylesheet" href="css/plugins/easyzoom.css">
    <link rel="stylesheet" href="css/plugins/slick.css">
    <link rel="stylesheet" href="css/plugins/animate.css">
    <link rel="stylesheet" href="css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="css/style.css">


</head>

<body>

    <input th:if="${session.session_current_user}" type="hidden" id="userId" th:value="${session.session_current_user.getUserId()}">

<div class="main-wrapper">
    <div th:include="mynav.html">

    </div>

    <div class="slider-area bg-gray">
        <div class="hero-slider-active-1 hero-slider-pt-1 nav-style-1 dot-style-1">
            <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <div class="hero-slider-content-1 hero-slider-content-1-pt-1 slider-animated-1">
                                <h1 class="animated">欢迎来到Lumos </h1>
                                <p class="animated" style="color: rgb(56, 78, 85); font-size: large;">选购您心仪的商品！</p>
                                <div class="btn-style-1">
                                    <a class="animated btn-1-padding-1" href="/shop">选购商品</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7">
                            <div class="hero-slider-img-1 slider-animated-1">
                                <img class="animated" src="images/slider/newyear.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <div class="hero-slider-content-1 hero-slider-content-1-pt-1 slider-animated-1">
                                <h1 class="animated" style="font-size: 20;">旧物易主贵如宝</h1>
                                <p class="animated" style="font-size: larger;">一粥一饭，当思来处不易<br>半丝半缕，恒念物力维艰</p>
                                <div class="btn-style-1">
                                    <a class="animated btn-1-padding-1" href="/release">发布商品</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7">
                            <div class="hero-slider-img-1 slider-animated-1">
                                <img class="animated" src="images/slider/chris.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-area pb-85">
        <div class="container">
            <div class="section-title mb-45">
                <h2></h2>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    <div class="banner-wrap banner-mr-1 mb-30">
                        <div id="enterMall" class="banner-img banner-img-zoom">
                            <a href="/shop"><img src="images/shop/shop1.jpg" alt=""></a>
                        </div>
                        <div class="banner-content-1">
                            <h1 style="font-size:250%; color:rgba(120, 236, 198, 0.877)">进入商城</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <div id="enterRelease" class="banner-wrap  banner-ml-1 mb-30">
                        <div class="banner-img banner-img-zoom">
                            <a href="/release"><img src="images/shop/shop2.jpg" alt=""></a>
                        </div>
                        <div class="banner-content-2">
                            <h1 style="font-size:250%; color:rgb(250, 246, 192)">发布商品</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="subscribe-area bg-gray pt-40 pb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="section-title">
                        <h2 style="text-align: center"><a href="/admini">管理商城</a></h2>
                        <p style="text-align: center"><a href="/contact">联系我们</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- All JS is here
============================================ -->

<script src="js/vendor/modernizr-3.6.0.min.js"></script>
<script src="js/vendor/jquery-3.5.1.min.js"></script>
<script src="js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="js/vendor/bootstrap.bundle.min.js"></script>
<script src="js/plugins/slick.js"></script>
<script src="js/plugins/jquery.syotimer.min.js"></script>
<script src="js/plugins/jquery.instagramfeed.min.js"></script>
<script src="js/plugins/jquery.nice-select.min.js"></script>
<script src="js/plugins/wow.js"></script>
<script src="js/plugins/jquery-ui-touch-punch.js"></script>
<script src="js/plugins/jquery-ui.js"></script>
<script src="js/plugins/magnific-popup.js"></script>
<script src="js/plugins/sticky-sidebar.js"></script>
<script src="js/plugins/easyzoom.js"></script>
<script src="js/plugins/scrollup.js"></script>
<script src="js/plugins/ajax-mail.js"></script>
<script src="js/noticeNum.js"></script>

<script>
    window.onload = function () {
        // alert("notice num display");
        noticeNum();
    }
</script>
<script src="js/main.js"></script>

</body>

</html>