<!doctype html>
<html class="no-js" lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Norda - Minimal eCommerce HTML Template</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">

    <!-- All CSS is here
	============================================ -->

    <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="css/vendor/signericafat.css">
    <link rel="stylesheet" href="css/vendor/cerebrisans.css">
    <link rel="stylesheet" href="css/vendor/simple-line-icons.css">
    <link rel="stylesheet" href="css/vendor/elegant.css">
    <link rel="stylesheet" href="css/vendor/linear-icon.css">
    <link rel="stylesheet" href="css/plugins/nice-select.css">
    <link rel="stylesheet" href="css/plugins/easyzoom.css">
    <link rel="stylesheet" href="css/plugins/slick.css">
    <link rel="stylesheet" href="css/plugins/animate.css">
    <link rel="stylesheet" href="css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="css/style.css">


</head>

<body>

    <input th:if="${session.session_current_user}" type="hidden" id="userId" th:value="${session.session_current_user.getUserId()}">

<div class="main-wrapper">
    <header class="header-area sticky-bar bg-top section-padding-1">
        <div class="container-fluid">
            <div class="header-large-device">
                <div class="header-bottom">
                    <div class="row align-items-center">
                        <div class="col-2">
                            <div class="logo">
                                <a href="/index"><img src="/images/logo/logo.png" alt="logo"></a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="main-menu main-menu-padding-1 main-menu-lh-1">
                                <nav>
                                    <ul>
                                        <li><a href="/index">主页</a></li>
                                        <li><a href="/shop">购物</a></li>
                                        <li><a href="/release">发布</a></li>
                                        <li><a href="/my-account">个人信息</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-4">
                            <!-- <div class="main-menu main-menu-padding-1 main-menu-lh-1 " style="float: right"> -->
                                <nav style="overflow: hidden; float: right; padding-top: 6px;">
                                    <ul>
                                        <li style="font-size:175%;" th:if="${session.session_current_user}">您好，<span th:text="${session.session_current_user.getUsername()}"></span></li>
                                        <li style="font-size:175%;" th:unless="${session.session_current_user}">您好，您尚未登录</li>
                                        <li th:if="${session.session_current_user}" style="padding-top: 5px; float: right;">账户余额：<span th:text="${session.session_current_user.getMoneyString()}"></span></li>
                                    </ul>
                                </nav>
                            <!-- </div> -->
                        </div>
                        <div class="col-2">
                            <div class="header-action header-action-flex header-action-mrg-right">
                                <div class="same-style-2">
                                    <a href="/notice"><i class="icon-envelope"></i><span class="pro-count red" id="noticenum"></span></a>
                                </div>
                                <div class="same-style-2">
                                    <a href="/userlogin"><i class="icon-user"></i></a>
                                </div>
                                <div class="same-style-2 header-cart">
                                    <a href="/cart">
                                        <i class="icon-basket-loaded"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="slider-area bg-gray">
        <div class="hero-slider-active-1 hero-slider-pt-1 nav-style-1 dot-style-1">
            <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <div class="hero-slider-content-1 hero-slider-content-1-pt-1 slider-animated-1">
                                <h4 class="animated">New Arrivals</h4>
                                <h1 class="animated">Leather Simple <br>Backpacks</h1>
                                <p class="animated">Discover our collection with leather simple backpacks. Less is more
                                    never out trend.</p>
                                <div class="btn-style-1">
                                    <a class="animated btn-1-padding-1" href="/product-details.html">Explore Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7">
                            <div class="hero-slider-img-1 slider-animated-1">
                                <img class="animated" src="images/slider/newyear.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <div class="hero-slider-content-1 hero-slider-content-1-pt-1 slider-animated-1">
                                <h4 class="animated">New Arrivals</h4>
                                <h1 class="animated">Leather Simple <br>Backpacks</h1>
                                <p class="animated">Discover our collection with leather simple backpacks. Less is more
                                    never out trend.</p>
                                <div class="btn-style-1">
                                    <a class="animated btn-1-padding-1" href="/product-details.html">Explore Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7">
                            <div class="hero-slider-img-1 slider-animated-1">
                                <img class="animated" src="images/slider/chris.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-area pb-85">
        <div class="container">
            <div class="section-title mb-45">
                <h2></h2>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    <div class="banner-wrap banner-mr-1 mb-30">
                        <div id="enterMall" class="banner-img banner-img-zoom">
                            <a href="/shop"><img src="images/shop/shop1.jpg" alt=""></a>
                        </div>
                        <div class="banner-content-1">
                            <h1 style="font-size:250%; color:rgba(120, 236, 198, 0.877)">进入商城</h1>
                            <p>Stretch, fresh-cool help you alway comfortable</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <div id="enterRelease" class="banner-wrap  banner-ml-1 mb-30">
                        <div class="banner-img banner-img-zoom">
                            <a href="/release"><img src="images/shop/shop2.jpg" alt=""></a>
                        </div>
                        <div class="banner-content-2">
                            <h1 style="font-size:250%; color:rgb(250, 246, 192)">发布商品</h1>
                            <p>Minimalist never cool, choose and make the simple great again!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="subscribe-area bg-gray pt-40 pb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="section-title">
                        <h2 style="text-align: center"><a href="/admini">管理商城</a></h2>
                        <p style="text-align: center"><a href="/contact">联系我们</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- All JS is here
============================================ -->

<script src="js/vendor/modernizr-3.6.0.min.js"></script>
<script src="js/vendor/jquery-3.5.1.min.js"></script>
<script src="js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="js/vendor/bootstrap.bundle.min.js"></script>
<script src="js/plugins/slick.js"></script>
<script src="js/plugins/jquery.syotimer.min.js"></script>
<script src="js/plugins/jquery.instagramfeed.min.js"></script>
<script src="js/plugins/jquery.nice-select.min.js"></script>
<script src="js/plugins/wow.js"></script>
<script src="js/plugins/jquery-ui-touch-punch.js"></script>
<script src="js/plugins/jquery-ui.js"></script>
<script src="js/plugins/magnific-popup.js"></script>
<script src="js/plugins/sticky-sidebar.js"></script>
<script src="js/plugins/easyzoom.js"></script>
<script src="js/plugins/scrollup.js"></script>
<script src="js/plugins/ajax-mail.js"></script>
<script src="js/noticeNum.js"></script>

<script>
    window.onload = function () {
        // alert("notice num display");
        noticeNum();
    }
</script>
<script src="js/main.js"></script>

</body>

</html>